*,::after,::before{
    margin: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
ul{list-style: none;}
button{padding: 0; cursor: pointer;}

html{font-size: 15px;}
body{font-size: 16px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
h1{margin:4px 6rem;}

.container{display: grid; place-items: center; width: 100%; height: 100vh; background: #31255a;}
.weather{ width: 350px; height: 550px; background: #8fe0ff; border-radius: 25px; box-shadow: 0 0 10px #75b4e3; position: relative;}
form{margin:0 5px 0 15px;}
input{width: 250px ; height: 50px; border:none;border-radius: 50px; font-size: 18px; padding: 10px 5px; }
.btn{ width: 70px; height: 50px; font-size: 20px; background: #d4f307; border: none; border-radius:50px;}
.btn:hover{background: #d4f30785 ;}
input::placeholder{font-size: 20px; padding: 10px 5px;}
input:focus{outline: none;}
.condition{width: 100%; height:80px; position: relative; padding: 5px ;}
.condition img{float: left; margin-left: 25px;}
.condition b{ margin: 26px 21px; position: absolute; font-family: cursive;}
.details{  padding: 10px 30px;}
.details p{margin-bottom: 5px; position: relative;}
.details p span{ color: #31255a;}

.details p::before{
    content: "";
    position: absolute;
    width: 10px;
    height:10px;
    background: #000;
    border-radius: 50%;
    left: -17px;
    top: 5px;
}
.icon{position: absolute;
right: -31px;
top: -13px;
filter: drop-shadow(0 0 20px #000);
}

